html,
body {
  height: 100vh;
  width: 100vw;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: #3B82F6;
}

hr {
  color: #F3F4F6;
  border: thin solid #F3F4F6;
  width: 15rem;
}

.about {
  padding: 4.25rem 0;
}

.skills {
  padding: 4.25rem 0
}

.skills-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4rem;
}

.skills-card {
  height: 20rem;
  width: 20rem;
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.06);
}

.skills-card:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.8rem);
}

@media (min-width: 768px) and (max-width: 1024px) {

  .skills-card-row {
    flex-wrap: wrap;
  }

  .skills-card {
    margin: 2rem auto;
  }

}

@media (max-width: 767px) {
  .skills-card-row {
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 4rem;
  }

  .skills-card {
    margin: 1rem auto;
  }
}

.contact {
  padding: 4.25rem 0;
  background-color: #3B82F6;
  margin: 4.25rem 0;
}

.contact-form {
  padding: 3.5rem 1.5rem;
  border-radius: 0.5rem;
  background: white
}